.but{
    display: inline-block;
    margin-top: 20px; 
   }
.box{
    width:80%;
    height: 30%;
    background-color: white;
    margin-left:10%;
    border-radius: 5px;
    margin-top: 2%;
}
.fotoinst0{
    margin-top:10px;;
    max-height: 90%;
    border-radius: 5px;
    float: left;
    margin-left:1%;
    max-width: 20%;
}
.coisa{
    margin-top:2%;
}
.loc1{
    margin-top: 10px;
    float: left;
    margin-left: 3%;
}
.descini{
    float: right;
    margin-right: 10%;
    text-align: left;
    max-width:40%; 
}

.classe{
    margin-top: 0.5%;
    width: 9.75%;
    height: 60px;
}
.content {
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 26%;
    bottom: 0px;
    background-color: aqua;
}